name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Test
        run: ./gradlew test
      - name: Generate code coverage
        run: ./gradlew jacocoTestReport
      - name: Build
        run: ./gradlew build
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
